<div class="mx-auto p-2" style="width: 200px;">
  <h1>BusBoard</h1>
</div>

<div id="postcodeHelpBlock" class="form-text mx-auto p-2" style="max-width: 800px; margin: auto;">
  This webpage allows you to find the next buses at the two bus stops nearest to the postcode you have entered.
</div>

<%= form_with url: bus_prediction_from_postcode_path, local: true, data: { turbo: false } do %>
  <div class="mb-3 mt-4" style="max-width: 500px; margin: auto;">
    <%= label_tag :postcode, "Postcode", class: "form-label" %>
    <div class="d-flex">
      <%= text_field_tag :postcode, nil, class: "form-control me-2", id: "inputPostcode", aria: { describedby: "postcodeHelpBlock" } %>
      <%= submit_tag "Get BusBoard", class: "btn btn-primary" %>
    </div>
  </div>
  <div id="postcodeHelpBlock" class="form-text" style="max-width: 500px; margin: auto;">
    Please enter a valid postcode as a combination of capital letters and numbers without any spaces. (e.g. NW51TL)
  </div>
<% end %>

<div id="result" class="card mx-auto mt-4 p-2" style="width: 800px;">
  <div class="card-body">
    <h5 class="card-title">Bus Board</h5>
    <p class="card-text">This board displays the buses due to arrive in the nearest two stops.</p>
  </div>
  <% if @results.present? %>
    <ul class="list-group list-group-flush">
      <% @results.each do |result| %>
        <li class="list-group-item"><%= result %></li>
      <% end %>
    </ul>
  <% end %>
</div>



